.box {
  width: 25%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box .heading {
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  padding: 15px;
  /* margin: 18px auto */
  color: #dd7230;
}
.box .img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  padding: 15px;
  height: 60%;
  width: 90%;
}
.box .img img {
  height: 100%;
  width: 100%;
}
.box .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.box .btn button {
  padding: 8px;
  cursor: pointer;
}
